@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.bg-slate-900 {
  background-color: #020617;
}

.text-slate-900 {
  color: #020617;
}

.bg-youtube-notes-container {
  background-color: #241f3a;
}

.text-slate-900 {
  color: #020617;
}

body {
  @apply bg-slate-900;
}
